* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding-inline: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  font-family: sans-serif;
}

.calculator {
  width: min(100%, 350px);
  padding: 1.25rem;
  background-color: #aaa;
  border: 2px solid #333;
  border-radius: 8px;
}

.calculator__screen {
  margin-bottom: 1.25rem;
  padding: 0.75rem;
  background-color: #eee;
  border: 2px solid #333;
  border-radius: 4px;
}

.calculator__output {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator__output--secondary {
  font-size: 1.25rem;
}

.calculator__output--primary {
  font-size: 1.75rem;
}

.calculator__controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.75rem;
}

.calculator__btn {
  background-color: #eee;
  border: 2px solid #333;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.25rem;
  cursor: pointer;
}

.calculator__btn--wide {
  grid-column: span 2;
  text-transform: uppercase;
}

.calculator__btn--square {
  aspect-ratio: 1 / 1;
}
